<main class="alextruex__main">

    <div class="container">
        <h2><strong>Alex Truex</strong> Digital Art & Design</h2>

        <div class="alextruex__main-links row">
            <div class="alextruex__main-link col-1"><a>Github</a></div>
            <div class="alextruex__main-link col-1"><a>LinkedIn</a></div>
        </div>

        <div class="alextruex__main-bio">
            <p>Alex has been creating artwork and computer programs for a very long time. Especially those obscure features for legacy platforms.</p>
        </div>

    </div>
    
</main>