<main class="alextruex__main">

    <div class="container">


        <div class="alextruex__main-title container">
            <h2><strong>Alex Truex</strong> Digital Art & Design</h2>

            <div class="alextruex__main-links row">
                <div class="alextruex__main-spacer col-4"></div>
                <div class="alextruex__main-link col-2"><a href="https://www.linkedin.com/in/alex-truex-6011827b"><img src="assets/logo-linkedin.png"></a><label>LinkedIn</label></div>
                <div class="alextruex__main-link col-2"><a href="https://github.com/alextruex"><img src="assets/logo-github.png"></a><label>GitHub</label></div>
                <div class="alextruex__main-spacer col-4"></div>
            </div>
        </div>

        <div class="alextruex__main-article container">
            <div class="row">
                <article class="col-6">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
                </article>
                <aside class="col-6">

                </aside>
            </div>
        </div>


        

        

    </div>
    
</main>